@import url('https://fonts.cdnfonts.com/css/satoshi');

body {
	background-color: rgb(247, 252, 250);
	margin: 0;
	width: 100%;
	font-family: 'Satoshi', sans-serif;
	/* overflow: ; */
}

#header {
	background: linear-gradient(to right, rgb(142, 120, 201), rgb(15, 6, 94));
	display: inline-flex;
	margin: 0;
	width: 100%;
	height: 20%;
	position: fixed;
	float: center;
}

#header .logo {
	margin-bottom: 600px;
	margin-top: 0px;

}

.navbar {
	padding-left: 50px;
	text-align: center;

}

#listi {
	margin-top: 37px;
	padding-left: 70px;
}

.listing {
	display: inline-flex;
	list-style: none;
	padding-right: 170px;

}

#icontab {
	float: left;
	padding-left: px;
	word-spacing: 40px;
	cursor: pointer;

}

#icontab {
	width: 300px;
	height: 70px;
	margin-top: 33px;
	margin-left: 60px;
	letter-spacing: px;
	cursor: pointer;
	padding-right: 3px;
	margin-right: 50px;


}

#dropdown ul {
	text-align: center;
	margin-left: 200px;
	margin-top: 60px;
	letter-spacing: 2px;
	white-space: 39px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 25px;

}





a {
	text-decoration: none;
	position: relative;
	color: rgb(227, 227, 241);
	padding-right: 34px;
	font-weight: 100px;
}

.dropdown-content a::after,
#listing a::after {
	content: "";
	position: absolute;
	bottom: 0;
	right: 0%;
	width: 0%;
	height: 3px;
	background: rgb(37, 2, 134);
	margin-top: 0;
	transition: ease-in;
	transition-duration: 0.92s;
	border-radius: 30px;
}


.dropdown-content a:hover::after,
#listing a:hover::after {
	width: 50%;
	left: 0%;
	
}

.dropdown:hover .dropdown-menu {
	display: block;

}


.dropdown .dropbtn {
	font-size: 16px;
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;

}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: white;
	min-width: 200px;
	box-shadow: 0px 8px 16px 0px rgba(255, 254, 255, 0);
	z-index: 1;
	font-size: 16px;
	word-spacing: 10px;
	border-radius: 10px;
	padding: 12px 0px;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display:inline-block;
	/* width: 100%; */
	text-align: center;
}

.dropdown-content :hover {
	background-color: transparent;
}

.dropdown:hover .dropdown-content {
	display: block;
	width: 70px;
}

#contentright {
	color: rgb(5, 2, 41);


	font-size: xx-large;
	margin-top: 175px;



}

#contentpicleft {
	float: right;
	margin-right: 100px;
	height: 100px;
	width: 500px;
	margin-top: 120px;


}

#mainbodyfirst {
	display: flex;
	padding-left: 290px;

	height: 550px;
	background-color: #fcfbfd;
	width: 100%;

}

.buton {
	border-radius: 20px;
	background-color: transparent;
	border-style: solid;
	margin-right: 170px;
	margin-left: 0px;
	border-color: rgb(15, 6, 94);
	text-align: center;
	color: rgb(15, 6, 94);
	cursor: pointer;

}


#mineeasy {
	width: 100%;
	text-align: center;
	background-color: rgb(15, 6, 94);
	color: white;
	word-spacing: 0px;
	font-size: 25px;
	line-height: 35px;
	height: 200px;
	float: none;
	font-family: Arial, sans-serif;
	padding-top: 27px;

}

#section3 {
	display: flex;
	padding-left: 200px;
	height: 550px;
	width: 100%;

}

#sec3pic2 {
	
	margin-left: 190px;
	height: 100%;
	width: 100%;
	margin-top: 100px;
	min-height: 100vh;
}
.picscroll{
	height: 200px;
}

.scrollpic{
	text-align: center;
	word-spacing: 10px;
	box-shadow: #595cf3;
}
.btm-sliders{
	position: relative;
	bottom: 20px;
	left: 50%;
	display: flex;
	transform: translateX(-50%);
	justify-content: center;
	
}
.btm-sliders span{
	height: 15px;
	width: 50px;
	border: 2px solid rgb(7, 2, 53);
	margin: 0 3px;
	cursor: pointer;
	margin-top: 80px;
	justify-items: center;
}
.btm-sliders span:hover{
	background: #595cf3;
}

#pimakes {

	font-size: xx-large;
	margin-top: 175px;
	color: rgb(121, 73, 121);
}


.buton :hover {
	background-color: rgb(13, 5, 78);
	color: white;
	border-radius: 5px;
	behavior: inherit;
}

#threepic {
	text-align: center;
	word-spacing: 23px;
	text-shadow: #56717c;
	height: 450px;
	border-radius: 10px;
	
	;
}

#secondlast {
	display: flex;
	background: linear-gradient(to right, rgb(142, 120, 201), rgb(15, 6, 94));
	text-align: center;
	margin-left: 00px;
	width: 100%;
	height: 480px;
	padding-left: 300px;
	padding-top: 50px;
	word-spacing: 2px;
}

#downlopic {
	cursor: pointer;
}

.lastpa {
	padding-left: 100px;
	padding-top: 20px;
}

#bottom {
	text-decoration: none;

	text-emphasis: none;
	display: flex;
	background-color: rgb(27, 26, 26);
	height: 380px;
	text-align: center;padding-top: 100px;
	width: 100%;
}
.bottom1{
	padding: 10px;
}
#conti{
	list-style: none;
	text-align: left;
	padding-left: 200px;
	display: flex;
	color: white;
	width: 70%;
	font-size: 27px;
}

	
